body{
    width: 100vw;
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
    background: linear-gradient(to right, #FFAFBD, #C9FFBF); 
    background-repeat: no-repeat;
    background-size: cover;
    
}

a{
    text-decoration: none;
      color: black;
}
*{
    box-sizing: border-box;
}